@import "./reset.css";
.navURL {
  display: flex;
  background-color: #2b2b2b;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding: 0 10px;
}

li {
  display: flex;
  list-style-type: none;
}

a:hover {
  font-weight: bold;
}
nav > div {
  display: flex;
  width: 300px;
  justify-content: space-between;
  column-gap: 10px;
}
a {
  text-decoration: none;
  /* border-left: 1px solid rgb(240, 13, 13); */
  background-color: rgb(4, 68, 102);
  box-shadow: 2px 2px black;
  color: white;
  font-size: 24px;
  padding: 5px;
}

nav + div {
  padding: 20px;
  margin: 20px;
  background-color: #93bc47;
}
